    <footer id="footer-content" class="bg-grau">
      <div id="footer">
        <div id="contact-us" class="fullwidth-secondary">
          <div class="row">
            <div class="medium-2 columns"><p></p></div>

            <div class="medium-8 columns">
              <h2>What can we help you with?</h2>
              <form action="https://getform.io/f/664998f3-fd4e-41c5-8e85-c1965a615aa1" method="POST" class="t30">
                <label for="fname">Name</label>
                <input id="fname" type="text" name="name">

                <label for="femail">Email</label>
                <input id="femail" type="email" name="email">

                <label for="fmessage">What is your question?</label>
                <textarea id="fmessage" type="text" name="question"></textarea>
                <button type="submit" id="contact-submit">Send</button>
              </form>
            </div>

            <div class="medium-2columns"><p></p></div>
          </div>
        </div>

        <div class="row links">
          <div class="medium-6 large-5 columns">
            <h5 class="shadow-black">{{ site.data.language.info_website }}</h5>

            <p class="shadow-black">
              {{ site.description }}
            </p>
          </div><!-- /.large-6.columns -->


          <div class="small-6 medium-3 large-3 large-offset-1 columns">
            {% for service_item in site.data.gear %}
              {% if forloop.first == true %}
                <h5 class="shadow-black">{{ service_item.menu_name }}</h5>
              {% endif %}
            {% endfor %}

              <ul class="no-bullet shadow-black">
              {% for service_item in site.data.gear %}
                {% if service_item.url contains 'http' %}{% assign domain = '' %}{% else %}{% capture domain %}{{ site.url }}{{ site.baseurl }}{% endcapture %}{% endif %}
                  <li {% if service_item.class %}class="{{ service_item.class }}" {% endif %}>
                    <a href="{{ domain }}{{ service_item.url }}" {% if service_item.url contains 'http' %}target="_blank" {% endif %} title="{{ service_item.title }}">{{ service_item.name }}</a>
                  </li>
              {% endfor %}
              </ul>
          </div><!-- /.large-4.columns -->


          <div class="small-6 medium-3 large-3 columns">
            {% for network_item in site.data.network %}
              {% if forloop.first == true %}
                <h5 class="shadow-black">{{ network_item.menu_name }}</h5>
              {% endif %}
            {% endfor %}

            <ul class="no-bullet shadow-black">
            {% for network_item in site.data.network %}
              {% if network_item.url contains 'http' %}{% assign domain = '' %}{% else %}{% capture domain %}{{ site.url }}{{ site.baseurl }}{% endcapture %}{% endif %}
                <li {% if network_item.class %}class="{{ network_item.class }}" {% endif %}>
                  <a href="{{ domain }}{{ network_item.url }}" {% if network_item.url contains 'http' %}target="_blank" {% endif %} title="{{ network_item.title }}">{{ network_item.name }}</a>
                </li>
            {% endfor %}
            </ul>
          </div><!-- /.large-3.columns -->
        </div><!-- /.row -->

      </div><!-- /#footer -->


      <div id="subfooter">
        <nav class="row">
          <section id="subfooter-left" class="small-12 medium-6 columns credits">
            {{ site.credits }}
          </section>
        </nav>
      </div><!-- /#subfooter -->
    </footer>
